@import "main.less";

.patient-content {
  position: absolute;
  left: @list-width;
  right: 0px;
  top: 0px;
  bottom: 0px;

  .nothing {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
  }
}